@model CustomerFormModel
@{
    if (Model.Data == null)
    {
        ViewData["Title"] = "Üye Ekle";
    }
    else
    {
        ViewData["Title"] = "Üye Güncelle";
    }
}

<h2>@ViewData["Title"]</h2>


<form method="post">
    <input type="hidden" asp-for="Data.ID" />

    <div class="form-group">
        <label asp-for="Data.Name">Ad</label>
        <input asp-for="Data.Name" class="form-control" />
        <span asp-validation-for="Data.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.Surname">Soyad</label>
        <input asp-for="Data.Surname" class="form-control" />
        <span asp-validation-for="Data.Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.EMail">E-Mail</label>
        <input asp-for="Data.EMail" class="form-control" />
        <span asp-validation-for="Data.EMail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.Gsm">Gsm</label>
        <input asp-for="Data.Gsm" class="form-control" />
        <span asp-validation-for="Data.Gsm" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.Password">Password</label>
        <input asp-for="Data.Password" type="password" value="@(Model.Data != null ? Model.Data.Password : "")" class="form-control" />
        <span asp-validation-for="Data.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.Gender">Cinsiyet</label>
        <input asp-for="Data.Gender" type="radio" value="E" class="form-control" /> Bay
        <input asp-for="Data.Gender" type="radio" value="K" class="form-control" /> Bayan
        <span asp-validation-for="Data.Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.DateOfBirth">Doğum Tarihi</label>
        <input asp-for="Data.DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="Data.DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Data.CancelID">İptal Nedeni</label>
        <select asp-for="Data.CancelID" class="form-control">
            <option value="">Seçiniz</option>
            @foreach (var Item in Model.CancelList)
            {
                <option value="@Item.ID">@Item.CancelName</option>
            }
        </select>
        <span asp-validation-for="Data.CancelID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" text="Kaydet" />
        <a asp-controller="Customer" asp-action="Index">İptal</a>
    </div>

</form>
