<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>

    @{
        var errorMessage = TempData["errorMessage"] != null ? TempData["errorMessage"].ToString() : null;
        var successMessage = TempData["successMessage"] != null ? TempData["successMessage"].ToString() : null;
    }

    <!--TODO Yetki kontrolü yapılarak menü oluşturulacak-->
    <h2>Menü</h2>
    <a asp-action="Index" asp-controller="Home">Anasayfa</a>
    <a asp-action="Index" asp-controller="Logout">Logout</a>

    <a asp-action="Index" asp-controller="User">Kullanıcı</a>
    <a asp-action="Index" asp-controller="Cancel">İptal Nedeni</a>
    <a asp-action="Index" asp-controller="Customer">Üye</a>
    <a asp-action="Index" asp-controller="Country">Ülke</a>
    <a asp-action="Index" asp-controller="City">Şehir</a>

    @if (!String.IsNullOrEmpty(errorMessage))
    {
        <div class="errorMessage"><h3>@errorMessage</h3></div>
    }

    @if (!String.IsNullOrEmpty(successMessage))
    {
        <div class="successMessage"><h3>@successMessage</h3></div>
    }

    @RenderBody()

    <script type="text/javascript" language="Javascript">
        jQuery(document).ready(function () {
            jQuery(".button_delete").each(function () { 
                var href = jQuery(this).attr("href");
                jQuery(this).attr("href", "javascript:void(0);");

                jQuery(this).click(function () { 
                    if (confirm('Kayıt veritabanından silinecek.')) {
                        window.location.href = href;
                    } else {
                        return;
                    }
                });
                
            });
        });
    </script>
</body>
</html>
